body{
    margin: 0;
    padding:0;
}
.layout-container {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #f5f5f5;
}

.layout-body {
    flex: 1 1 auto;
    display: flex;
}