.landing-container {
    padding: 0 7.5% 10%;
    display: flex;
    align-items: center;
    width: 100%;
}

.landing-text {
    font-family: 'Segoe UI';
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 2em;
    min-height: 350px;
}

.Cursor {
    animation: blinker 1s linear infinite;
}
@keyframes blinker {  
    50% { opacity: 0; }
  }